header {
    color:rgb(182, 36, 79);
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: "Gill Sans Extrabold", sans-serif;
  }

footer {
    color: rgb(182, 36, 79);
    margin: 30px 1350px;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
  }
  
  .datolista1 {
    list-style: none;
    color: rgb(182, 36, 79);
    background-color: rgb(251, 183, 192);
    border: 1px solid rgb(251, 183, 192);
    border-radius: 10px;
    margin: 5px;
    padding: 5px 10px;
    font-size: medium;
    text-align: left;
    box-sizing: content-box;
    height: auto;
    font-family: "Gill Sans Extrabold", sans-serif;
  }
  

textarea[name="user-input"]{
    background-color: rgb(201, 207, 204);
    color: rgb(64, 86, 244);
    box-sizing: border-box;
    border: 1px solid rgb(201, 207, 204);
    margin: 20px 500px;
    padding: 10px 20px;
    border-radius: 10px;
    

}

#reset-button{
    background-color: rgb(202, 83, 16);
    color: rgb(255, 243, 194);
    box-sizing: border-box;
    border: 1px solid rgb(202, 83, 16);
    margin: 10px 630px;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: "Gill Sans Extrabold", sans-serif;
}

div[name="contenedor"] {
    display: flex;
    justify-content: center
}

div[name="conten"] {
    display: flex;
    justify-content: center;
    
}

:root {
    background: rgb(255, 243, 194);
  }


  div[name="contenbu"] {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
